/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/


body .main-box{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 10px;
    }

    
  .container-box{
    height: 450px;
    width: 300px;
    background-color: red;
    position: relative;
    display: inline-block;
    margin: 0 5px;
  } 

  img{
      
      height: 450px;
      width: 300px;}

      img.front{
         
      }

      img.back{
          position: absolute;
          top: 0;
          left: 0;
          
        display: none;
      }

      
      
  

  .heart{
      position: absolute;
      top: 10px;
      right: 0;
      background-color: white;
      padding: 5px;
  }

  .discount{
      position: absolute;
      bottom: 10px;
      left: 0;
      background-color: rgb(230, 7, 7);
      padding: 5px;
  }

  .info{
      position: absolute;
      bottom: 10px;
      left: 50px;
      background-color: wheat;
      padding: 5px;
  } 

    .container-box :hover img.front{
        display: none;
        cursor: pointer;
    }

    .container-box:hover img.back{
        display: block;
        cursor: pointer;
    }


    .text h4, h5, h3{
        text-align: left;
        font-size: 12px;
    }

    .text h5{
        color: red;
    }