/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/


body .main-box{
    width: 80%;
    margin: 20px auto;
    
    margin-bottom: 10px;
    }

    
  .container-box{
    width: calc(100%/3.3);
    
    position: relative;
    display: inline-block;
    
  } 

  img{
      
      width: 100%;}

      

      img.back{
          position: absolute;
          top: 0;
          left: 0;
          
        display: none;
      }

      
      
  

  .heart{
      position: absolute;
      top: 10px;
      right: 0;
      background-color: white;
      padding: 15px;
      font-size: 20px;
  }

  .discount{
      position: absolute;
      bottom: 60px;
      left: 0;
      background-color: rgb(230, 7, 7);
      padding: 5px;
  }

  .info{
      position: absolute;
      bottom: 60px;
      left: 50px;
      background-color: wheat;
      padding: 5px;
  } 

    .container-box :hover img.front{
        display: none;
        cursor: pointer;
    }

    .container-box:hover img.back{
        display: block;
        cursor: pointer;
    }


    .text {
        text-align: left;
        font-size: 14px;
    }

    .text .price{
        font-weight: bold;
        color: red;
    }
    